[2014-05-14 07:36] alexkuck opened #1 "Reason behind removal of newlines?"
Great library, we appreciate your work.  What is the reason behind removing new lines from the Javascript being evaluated?  We have a nasty code base where satisfying this requirement would be unpractical..  Do you have any ideas for a possible workaround?  We are targeting Android 4.0 and up.

[2014-05-25 03:26] tom91136 opened #2 "Gradle build and maven, downloadable jar"
Great library, mind adding to maven central repository? a downloadable jar would be handy too.
Also, I can't find a build script(gradle or maven) in the project, so i assume that you are using ADT's build feature. I would recommend migrating to maven/gradle if possible.

Thanks

[2014-05-26 17:58] tom91136 opened #3 "webview optimization with setWillNotDraw(true)"
the webview used in the wrapper will not be drawing anything, set this flag to make sure that drawing will never happen.
Details:
http://developer.android.com/reference/android/view/View.html#setWillNotDraw(boolean)

[2014-07-01 08:28] marbdq opened #4 "Support for Kitkat (Android 4.4)"
Please, change the loadUrl method to this in WebViewWrapper:

@Override
    public void loadUrl(String url) {

[code]

[2014-07-19 13:46] CatInBank opened #5 "Is there any way to put objects to javascript?"
Can I do like on desktop? I need to have acces to some object from my app. My app is cross-platform, so I do this on the desktop, but for android I created an interface that should implement this functionality for this platform. But how?

[code]

[2014-08-16 13:50] #3 closed, assigned to nobody

[2014-08-16 21:06] ypid opened #6 "Percent-encoding is not escaped correctly."
Hi

I am currently working on [ComplexAlarm](https://github.com/ypid/ComplexAlarm) which evolves to get [opening_hours.js](https://github.com/ypid/opening_hours.js) running on Android which currently does not work: [INFO:CONSOLE(1)] "Uncaught SyntaxError: Unexpected token ILLEGAL", source: about:blank (1)

The mini example is: "if(5%12)true;"
It seems that "%12" gets interpreted as [percent-encodi

[2014-08-19 22:02] ypid opened #7 "How to wait for the callback function?"
Hi

do you know a good way to turn the event driven programming into non-event driven. Lets say you want to define a function like the following example:

[code]

I have read some code in your test app:

[code]

Is this the way to go?

[2014-08-30 11:27] #4 closed, assigned to nobody

[2014-08-30 11:32] #1 closed, assigned to nobody

[2014-08-30 11:33] #5 closed, assigned to nobody

[2014-08-30 11:33] #6 closed, assigned to nobody

[2014-09-03 11:21] marbdq opened #8 "Problem loading/using this JS"
Hi,

I tried to load and use: http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/aes.js
in several ways, according to the instructions. But can't manage. I tried to debug the problem, but there is very  little info.

Please, take a look at it if you have some time.
Thanks!

N.B.: I would appreciate some guidance on how to debug such issues...

[2014-11-16 09:14] #8 closed, assigned to nobody

[2015-01-16 07:59] MustafaFerhan opened #11 "ReferenceError"
Getting this error when I use your js evaluator:

I/chromium﹕ [INFO:CONSOLE(1)] "Uncaught ReferenceError: yourFunc is not defined", source: data:text/html;charset=utf-8;base64,PHNjcmlwdD5ldmdlbmlpSnNFdmFsdWF0b3IucmV0dXJuUmVzdWx0VG9KYXZhKGV2YWwoJ19fX19qc2JyaWRnZV9yZWFkXzE0MjA5NzkyNDE1OTdfNDg2KCk7JyksIDIpOzwvc2NyaXB0Pg==(1)

Android: 5.0.1
Nexus 5

[2015-03-11 02:03] evgenyneu commented on #11
Hmm, if I decoded the base64 text form your error message, I get this:

[code]

Which means that you are probably calling a function named `____jsbridge_read_1420979241597_486()`. As far as I can see that this function is not defined in this text. Maybe that is the source of the error?

[2015-03-31 04:14] Tyler-Hardin opened #12 "Accessing state of JS evaluator"
Is there anyway to access the state of the machine? Can I have it evaluate some code, then get the values of the global variables?

[2015-04-10 17:51] ghuiii opened #13 "method onResult just didn't callback"
I have a md5.js file in assets/md5.js,and there is a js function which i want to call from my Activity,but I didn't get the callback,Instead I got an error:
`"Uncaught SyntaxError: Unexpected token ILLEGAL", source: data:text/html;charset=utf-8;base64,PHNjcmlwdD5ldmdlbmlpSnNFdmFsdWF0b3IucmV0dXJuUmVzdWx0VG9KYXZhKGV2YWwoJ2Z1bmN0aW9uIG1kNWpzKHBhc3MsIGNvZGUsIHVpbikgew1cbnZhciBJID0gaGV4Y2hhcjJiaW4obWQ1

[2015-04-11 01:50] evgenyneu commented on #12
Hi, no it does not save results for later use. One can only get result through a callback.

[2015-04-11 01:57] evgenyneu commented on #13
Hi, thanks for the feedback. I would first debug it outside Android to make sure the JavaScript works.

1. Verify md5.js file on http://www.jslint.com.
1. Run it on http://jsbin.com to see if the `chkyzm` works.

If it works, can you please send me the md5.js file and the value of str parameter. I will have a look.

Thanks

[2015-04-11 02:56] ghuiii commented on #13
Dear evgenyneu,
Below is my md5.js, And I checked the function md5() in*jsbin* ,and it works .But doesn't work in js-evaluator, Glad to get your kind help!Thx!!!
`
function md5js(pass, code, uin) {
var I = hexchar2bin(md5(pass));
var H = md5(I + uin);
var G = md5(H + code.toUpperCase());
return G
}
var hexcase = 1;
var b64pad = "";
var chrsz = 8;
var mode = 32;
function md5(A) {
return hex_md5(A)

[2015-04-11 03:48] evgenyneu commented on #13
Thanks, can you send me the original file `md5.js` please? Posting it here will change its indentation which can have a difference. Also, in addition to the file I need the value of `str` parameter that you are sending to `chkyzm` function. I would prefer it to be in a file as well. You can share those file on dropbox or similar services. Thanks.

[2015-04-11 03:50] evgenyneu commented on #13
Hmm, I can't see the `chkyzm` function in the md5.js code that you pasted even though you are using it when calling `callFunction`. Where does the `chkyzm` come from?

[2015-04-11 03:59] ghuiii commented on #13
you can take `md5()` for test, and this is the js file `http://jwgl.llhc.sx.cn:8003/jwweb/js/md5.js`

[2015-04-11 08:27] evgenyneu commented on #13
You found a serious bug in the library, thank you. It failed to evaluate JavaScript code with Windows style line endings.

You can [download](https://github.com/evgenyneu/js-evaluator-for-android/raw/master/JSEvaluator/bin/jsevaluator.jar) new version and try it.

[2015-04-18 02:43] evgenyneu commented on #13
Has the problem been fixe for you @ghuiii ?

[2015-04-18 11:09] ghuiii commented on #13
Sorry for my delay,it fixed

[2015-04-18 11:09] #13 closed

[2015-04-22 14:45] capezzbr commented on #2
@evgenyneu yeah, migrate the project to Android studios is a great idea, but even a better idea is actually to add it to Maven. :+1: for this!

[2015-05-09 22:49] jitpack-io commented on #2
Hi all. It's also available as a Gradle/Maven dependency from https://jitpack.io/#evgenyneu/js-evaluator-for-android/ba07978dd3

[2015-05-10 07:22] evgenyneu commented on #2
@jitpack-io 👏thanks

[2015-05-10 09:08] jitpack-io commented on #2
@evgenyneu No problem : ) Would be also nice to have a GitHub release so that we could use that version

[2015-05-10 10:11] evgenyneu commented on #2
@jitpack-io I've added the version tag.

[2015-05-10 12:49] jitpack-io commented on #2
Works great! https://jitpack.io/#evgenyneu/js-evaluator-for-android/v0.1.0

[2015-05-11 12:22] capezzbr commented on #2
very nice! thanks :+1:

[2015-05-12 16:23] mahmoud-elnaggar opened #14 "pass json object"
why this simple code doesn't work
String jsCode = "function func(answers){ return answers[100];}";
            jsEvaluator.callFunction(jsCode,
                    new JsCallback() {

                        @Override
                        public void onResult(final String result) {
                            UIUtils.showToast(getActivity(), result);
                        }

[2015-05-12 22:19] evgenyneu commented on #14
Hi, the library does not support passing objects as function parameters - only strings and numbers.

[2015-05-13 05:46] mahmoud-elnaggar commented on #14
OK thanks
can you tell me if any library can take objects as parameters

[2015-05-14 03:40] evgenyneu commented on #14
No idea, sorry.

[2015-05-19 13:09] AndreiDuma commented on #14
You can send the object serialized as JSON and parse it in the code. Then serialize the result and return as string.

[2015-05-20 20:13] mahmoud-elnaggar commented on #14
@AndrieDuma
that's what I did to solve it, Thanks for your suggestion
also I found that I can pass json array but I need to use eval(params) in my JavaScript so I can handle it as array

[2015-05-21 01:00] evgenyneu commented on #14
@AndreiDuma thank you, I think I will add instructions to the readme. It is probably much easier to convert JSON to object and back in JavaScript than in doing it Java.

[2015-05-21 06:15] AndreiDuma commented on #14
You can do it like this:
[code]
The code must contain a function called `process` and the `task.getInput()` must return valid JSON.

[2015-06-02 12:22] zty5678 commented on #11
I get the similiar error.It seems that chrome cannot find the 'returnResultToJava' method.

Solution:
Put this line into  the 'proguard-rules.pro'.
[code]

[2015-06-03 11:08] AhmedGamal92 opened #15 "XMLHttpRequest"
Trying to make XMLHttpRequest from js and I'm getting Access-Control-Allow-Origin error,
and changing the AllowUniversalAccessFromFileURLs didn't help.

Any Ideas ?

[2015-06-20 07:54] shaobin0604 opened #17 "Please add proguard rules for js-evaluator-for-android"
Please add proguard rules for **js-evaluator-for-android**

    # js-evaluator-for-android
    -keepattributes JavascriptInterface
    -keepclassmembers class * {
        @android.webkit.JavascriptInterface <methods>;
    }

[2015-06-23 09:56] evgenyneu commented on #17
Thanks for the feedback. Why is this change needed?

On Sat, 20 Jun 2015 5:54 pm 邵彬 <notifications@github.com> wrote:

[2015-06-25 11:34] shaobin0604 commented on #17
I've used this lib in my project. Thanks for your great work!

If proguard is enabled and these rules is not exist in proguard config file, proguard would **obfuscate** the method name of `JavaScriptInterface#returnResultToJava` to other symbols, which cause **javascript** cannot callback binding **Java** method

[2015-06-25 11:48] evgenyneu commented on #17
@shaobin0604, thanks for your kind words and explanation. I have added the [proguard rules](https://github.com/evgenyneu/js-evaluator-for-android/commit/2183e197210559aac6126b3630b7bfbbad291e43).

[2015-06-30 02:40] #17 closed

[2015-07-02 09:54] colibri11 commented on #15
http://enable-cors.org/index.html

[2015-07-02 09:59] colibri11 opened #18 "how to catch a javascript error ?"
OnError ?

[2015-07-04 05:45] evgenyneu commented on #15
Good catch. The javascript is evaluated in the web view, and I would think that all HTTP requests from it are blocked. Otherwise it would be pretty insecure. There may be a way to allow those requests to specified domains.

[2015-07-04 05:47] evgenyneu commented on #18
Good idea, thanks. The javascript is evaluated in the web view. Question. Does the web view api allow to get the javascript errors?

[2015-07-05 11:17] AhmedGamal92 commented on #15
The "AllowUniversalAccessFromFileURLs" method in the webview should allow the requests, but tried it and not working.

At last I managed to do this by implementing a java method in the javascript interface to do the request.

[2015-09-15 14:48] kexanie opened #19 "How to use js libraries like jQuery and MathJax?"
Hi! Great library, but I got one question.
I saw
[code]
on the README.md file. But the above code is really confusing for me.
Should I put the whole jQuery.js file into a Java String?

[2015-09-15 21:05] evgenyneu commented on #19
Hi, you need to put jQuery into the Java string only if you intend to use
jQuery. That was just an example of using a JavaScript library.

[2015-10-11 12:12] SaifurRahmanMohsin commented on #19
Yes, but how? Would this include jquery or do I need to include the entire jquery library in?
[code]

[2015-10-11 20:06] evgenyneu commented on #19
@SaifurRahmanMohsin the latter, one needs to put the entire jQuery library into a string.

[2015-10-11 20:06] #19 closed

[2015-10-12 11:16] gilgil28 commented on #18
any progress with error handling?
otherwise, maybe we can set operation timeout

[2015-10-13 02:19] evgenyneu commented on #18
No sorry, I have not looked at it yet.

[2015-11-15 12:29] sittingbool opened #20 "Urgent: Gradle Build failed"
If I try to install via gradle I get an error that gradle can not resolve the package via jitpack.

So I looked at https://jitpack.io/com/github/evgenyneu/js-evaluator-for-android/v1.0.2/build.log

To see following build error:

Start: Fri Oct 16 02:17:52 UTC 2015
Git:
v1.0.2
commit 8222e4efb8e9dbab358625e63074d3c6ddb3b913
Merge: 2183e19 a0bf9c6
Author: Evgenii Neumerzhitckii
Date:   Thu Jun 25 21

[2015-11-16 00:29] evgenyneu commented on #20
Merged your pull request. Does it build now?

[2015-12-29 08:35] jitpack-io commented on #20
Builds great! Log: https://jitpack.io/com/github/evgenyneu/js-evaluator-for-android/28fa5d9b16/build.log
Would be nice to have a new GitHub release as there are other users trying to install it.

[2016-01-05 08:52] whyte624 commented on #20
jitpack answered me to write
```compile 'com.github.evgenyneu:js-evaluator-for-android:28fa5d9b16'```
in my build.gradle

[2016-01-05 09:44] evgenyneu commented on #20
Added the new release v1.0.3, here is how to include the library.

### Project gradle file

[code]

### Module gradle file

[code]

[2016-02-08 10:07] mklimek opened #22 "Preload big script file"
Hello!
Thanks for you library :)
I'm working with pretty big JS script which I have to evaluate every time I want to call any function from it.
I suppose there's a way to evaluate

[2016-02-08 21:15] evgenyneu commented on #22
Hi, unfortunately this can not be done with this library. Every evaluation starts from scratch and there is no way to reuse a previously loaded JavaScript. On my first iteration of the library it kept JavaScript for reuse but there were text encoding problems that I could not solve. The only way I could make it reliable is to use the `loadUrl` method of the Web View and feed it JavaScript encoded

[2016-02-10 10:25] deepthi12 opened #23 "Android Synchronous Callback JsEvaluator"
Hi ,
I need to execute some java script in android and based on the result i need to do some validations.
But here the callback is asynchronous request and my execution does not stop till i get  the result form call back .
Can any one please help me to do synchronous call back that is to wait till i get the response from the call back.

[2016-02-11 10:16] evgenyneu commented on #23
Hi, thanks for this feature request. I know other person wanted to evaluate
JavaScript synchronously as well. It looks like this feature can be useful
and I am currently implementing it.

On Wed, 10 Feb 2016, 9:25 PM deepthi12 <notifications@github.com> wrote:

[2016-02-15 05:11] evgenyneu commented on #23
After spending 10 hours on creating a synchronous solution I give up. It proved to be harder than I though. Here are the reasons it is tricky:

1. The library uses a WebView to evaluate the JavaScript. It calls a web view's method `loadUrl` and it is required to call this method in UI thread.
1. Web view is then evaluates the JavaScript asynchronously.
1. When web view finishes evaluating JavaScri

[2016-03-26 23:50] evgenyneu commented on #20
Closing this issue, feel free to reopen if it still exists.

[2016-03-26 23:50] #20 closed

[2016-03-26 23:52] evgenyneu commented on #2
Closing this issue, there is a downloadable jar and maven setup now. As usual, feel free to reopen when needed.

[2016-03-26 23:52] #2 closed

[2016-03-26 23:53] evgenyneu commented on #23
Closing this issue for the lack of solution, feel free to reopen if anyone has a solution to this.

[2016-03-26 23:53] #23 closed

[2016-03-29 16:16] reality opened #24 "jsevaluator seems not to run if script is over a certain size"
Thanks for the cool library - I have been using it to utitlise cryptojs to encrypt images, but it seems the jsevaluator doesn't initialise properly if the file is large enough (though it is hard to tell exactly what the issue is).

Here is how I'm using it: https://github.com/reality/alsuti/blob/master/android/app/src/main/java/rehab/reality/alsuti/Encrypter.java - First it grabs the base64 of an

[2016-03-29 16:58] mahmoud-elnaggar opened #25 "java.util.zip.ZipException: duplicate entry:"
when I was using gradle 1.3.0 it was working fine
but when I upgraded to 1.5.0 it gives me this issue

[2016-03-29 19:54] evgenyneu commented on #24
Hi @reality, I think your code is correct. As you suspected, the problem is probably the size of the JavaScript text you are evaluating. I had one person reporting similar issue before when he could not evaluate very long strings but was able to evaluate shorter ones. As you probably know, this library uses the web view to evaluate the JavaScript. I suspect that web view is choking on the large da

[2016-03-29 20:32] reality commented on #24
Thank you! You may want to note that this library seems to work for more intensive applications: https://github.com/ericwlange/AndroidJSCore

[2016-03-29 20:40] evgenyneu commented on #24
Thanks for the reference, added it to the readme as well.

[2016-03-29 20:44] evgenyneu commented on #25
No idea, sorry.

[2016-04-12 08:16] chenzhong13 opened #26 "Proguard ?"
You'd better remind user of proguard

[2016-04-12 09:59] evgenyneu commented on #26
Very good point, @chenzhong13, thank you for pointing it out. Added [ProGuard instructions](https://github.com/evgenyneu/js-evaluator-for-android#using-with-proguard) to the readme.

[2016-04-15 08:10] evgenyneu commented on #26
Closing this issue. Feel free to reopen if needed.

[2016-04-15 08:10] #26 closed

[2016-04-19 19:26] akshayd83 opened #27 "Is it possible to be able to make minsdk 14?"
Very interesting library. I would appreciate if it is possible to make minimumsdk as 14.

[2016-04-20 10:37] evgenyneu commented on #27
Hi @akshayd83, yes, it is possible, thanks for asking. I have changed minSdkVersion to 14 (from 15). You can free to get this update with the version v1.0.4 (if you are using maven method). I have no idea why I did not set it to 14. Anyway, the tests are passing on 14, so it looks like it works. Let me know if you have any problems on that API.

[2016-04-20 16:32] akshayd83 commented on #27
Hello @evgenyneu  thanks very much. I will test it out and let you know! I appreciate your support on this!

[2016-05-11 12:53] #12 closed

[2016-05-22 08:16] mikeyxkcd opened #28 "Expose internal Webview for destroying"
Would it be possible to expose the internal WebView object being used to run the evaluations?

This is needed so that I can successfully destroy and clean up the Webview instances accordingly - http://stackoverflow.com/questions/17418503/destroy-webview-in-android, otherwise they're kept in memory even after the JsEvaluator is destroyed.

Better yet, is it possible to add a `destroy()` method as w

[2016-05-22 13:03] evgenyneu commented on #28
Hello @mikeyxkcd, thanks for the good idea, I have added both the `getWebView()` and `destroy()` methods to the evaluator. The new version is v1.0.5.

Documentation: https://github.com/evgenyneu/js-evaluator-for-android#advanced-functionality

Let me know if it helps to free the memory.

[2016-05-24 19:57] mikeyxkcd commented on #28
Thanks a lot for implementing this @evgenyneu and so quickly at that! I really appreciate it.

It looks like the destroy method isn't working as well as I'd like. One way to check is by adding this call
[code]
then check the number of webviews created in the chrome device inspector (`chrome://inspect/#devices`) after each screen rotation. I have a feeling it's related to the point I mentioned belo

[2016-05-24 21:40] evgenyneu commented on #28
Thanks for your help, @mikeyxkcd. I have added your code to the `destroy` method. Now it removes the web view from Chrome inspect. New version is: v1.0.6.

[2016-05-24 21:51] evgenyneu commented on #28
Forgot to mention, there is a "Destroy" activity in the demo app that allows to quickly test it.

[2016-05-25 12:49] mikeyxkcd commented on #28
Thanks a lot dude! It looks like it's working now.

[2016-05-25 12:49] #28 closed

[2016-05-25 17:44] evgenyneu commented on #28
No worries, thank you for your help.

[2016-05-31 08:08] evgenyneu commented on #27
Hi @akshayd83, is this issue resolved?

[2016-05-31 17:58] jainpishir opened #29 "require minify our js script file"
Hi evgenyneu,

We are using this library to execute a javascript file which calculates few functions. But to be able to use it in android we first need to minify this script. only then it works. So everytime we update the script we need to minify it first.

[2016-05-31 22:55] evgenyneu commented on #29
Hi, @jainpishir, can you attach the JS file so I can have a look?

[2016-06-01 02:49] akshayd83 commented on #27
Hello @evgenyneu the issue of minsdk is resolved thanks!

[2016-06-01 03:10] #27 closed

[2016-06-02 04:50] jainpishir commented on #29
Hi evgenyneu

Thanks for quick reply. PFA script for your review.
[script.txt](https://github.com/evgenyneu/js-evaluator-for-android/files/294827/script.txt)

[2016-06-02 05:23] evgenyneu commented on #29
Thank you, I have run this script through JS Evaluator on Android 5.0 and it went fine. Can you paste the Java code that evaluates the JavaScript here please so I can reproduce the problem? I just need the `jsEvaluator.evaluate` or `jsEvaluator.callFunction`. Thank you.

[2016-07-15 08:00] cyluss opened #30 "Consumer proguard rule is missing"
Consumer proguard rule is missing for current packaging. I suggest that we should [add consumer proguard rule](https://guides.codepath.com/android/Building-your-own-Android-library#using-with-proguard) to the package.

Readme.md already states that [users should exclude JavaScriptInterface from proguard](https://github.com/evgenyneu/js-evaluator-for-android/commit/2a063844a7bdad601618cadcd8d158876

[2016-07-16 06:24] evgenyneu commented on #30
Hi @cyluss, thank you very much for the tip! I did not know that was possible to supply a proguard file with the library. This is really handy. I have done that and released a new version `v1.0.7`. Let me know if it does not work for you.

[2016-12-08 02:56] sander90 opened #32 "Naive ECMAscript 2015 (ES6) evaluator."
JsEvaluator jsEvaluator = new JsEvaluator(this.jsContent);
        jsEvaluator.callFunction("\n" +
                "function parse_ir(prot_str=8){\n" +
                "    return prot_str\n" +
                "}", new JsCallback() {
            @Override
            public void onResult(String s) {
                Log.d("sander","js call : " + s);
            }
        },"parse_ir","123");
No ret

[2016-12-10 05:00] evgenyneu commented on #32
Hi @sander90, thanks for your feedback. Could you clarify what exactly is this problem so I can understand it?

[2016-12-19 06:42] evgenyneu commented on #30
Closing the issue, feel free to open if needed.

[2016-12-19 06:42] #30 closed

[2016-12-19 06:43] evgenyneu commented on #29
Closing the issue, feel free to open if needed.

[2016-12-19 06:43] #29 closed

[2016-12-19 06:44] evgenyneu commented on #18
The runtime error handling was added to the library (thanks, @codebymikey) in version v2.0.0.

[2017-01-10 09:50] mdtuyen opened #33 "Wrong output"
I try with this eval:

`eval(function(p,a,c,k,e,d){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--){d[e(c)]=k[c]||e(c)}k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1};while(c--){if(k[c]){p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c])}}return p}('1I k=1G 1o();1I j=1G 1o();k[2]="d://1.g.e.a/-1

[2017-01-11 01:37] ArtisterLuke opened #34 "Can't get result"
I don't why, I use this plugin for CryptoJS.AES.decrypt and CryptoJS.AES.encrypt can't get any result (value and error both) sometime.

[2017-01-14 00:15] evgenyneu commented on #34
Hi, @ArtisterLuke, thanks for reporting the issue. Does it work in some cases but not the others? What is the size of the text string you are encrypting?

[2017-01-14 00:18] evgenyneu commented on #33
Hi @mdtuyen, thanks for letting me know. Could you explain what you mean "last element of output array"? When I run this code in the web browser console it evaluates to this string:

"https://1.bp.blogspot.com/-ZWjJefQ8IIs/WG4iEHZAciI/AAAAAAAAayk/ti-AmvOgJgc/s0/TT8-001.jpg?imgmax=0"

Do you get a different output from the JsEvaluator in Android app?

[2017-01-14 06:24] mdtuyen commented on #33
Hi @evgenyneu

I'm not Js programmer, I copied that code post to http://jsbeautifier.org/ to run and output is:

[code]

You can tried it.
I want to get array output same here.

[2017-01-14 06:56] evgenyneu commented on #33
Got it. This library only allows to return a text string from JavaScript and not an array, unfortunately.

[2017-01-15 15:55] mdtuyen commented on #33
Hi, Could you help me a solution (may be edit js code Ex) to get all data that I need ? please.

[2017-01-15 22:45] evgenyneu commented on #33
Sorry I don't provide programming consulting services here. This section is for discussing issues with the library. I would suggest to ask on stackoverflow if you need JavaScript help.

[2017-01-16 08:55] mdtuyen commented on #33
Yes, but I see that the library still return an element of array that i need. What is the element ? why not 0, 2, 3, 4 ... It is [1]

[2017-01-16 09:48] evgenyneu commented on #33
Yes, It looks like it just returns the last statement in the JavaScript code, which happens to be the assignment of a string to the [1] element of the array. That is why you get that string.

[2017-02-16 11:35] krazykira opened #35 "ReferenceError: $ is not defined"
Thanks for the library. This si the issue that i am facing. when i call

[code]

I am getting `ReferenceError: $ is not defined`

I tried this on chrome browser in developer console and it returns me the right data. What am i doing wrong ? Why can't i get it to work for **js-evaluator-for-android**

[2017-02-16 20:17] evgenyneu commented on #35
Hi @krazykira, good question. I assume you wanted to use jQuery function `$`. In order to do it, you will need to concatenate the full code of jQuery library with your code `$('#some-data').text()`, as described [here](https://github.com/evgenyneu/js-evaluator-for-android#javascript-is-evaluated-in-new-context). In addition, the jQuery selector requires an element with id `some-data` to be present

[2017-02-21 10:06] mdtuyen commented on #33
That, If I use for function, How to pass this function to your Library:

[code]

[2017-02-24 23:40] evgenyneu commented on #33
@mdtuyen, you can pass this JavaScript code as a parameter into the `evaluate` method, as describe [here](https://github.com/evgenyneu/js-evaluator-for-android#evaluate-javascript).

However, I think you have errors in this JavaScript code. If you paste it into a browser console you will see an error I have tried to run this code in the browser console and it looks like it contains error:

[2017-03-01 08:25] veesong opened #36 "How to add custom JavascriptInterface?"
[code]
I add my JavascriptInterface, but callback onError :
[code]

[2017-03-01 09:12] evgenyneu commented on #36
Hi @veesong, good question. Unfortunately, the library does not allow using custom JavaScript interfaces at the moment. Behind the scenes, the library uses a single redefined JavaScript interface to pass back the result form JavaScript evaluation to Java.

[2017-03-01 10:53] veesong commented on #36
Sorry, I made mistake.
When I set `MyJsInterface` method public, it work.

[2017-03-01 19:36] evgenyneu commented on #36
Oh, great, sorry for misinformation. So it is possible! All the best.

[2017-03-14 19:09] DivinaBurger commented on #11
Hi
I want to display in my text view the error given...how may i get this specific error
"[INFO:CONSOLE(1)] "Uncaught ReferenceError: yourFunc is not defined"

[2017-03-14 19:52] evgenyneu commented on #11
Hi @DivinaBurger, sorry I did not understand, could you clarify please?

[2017-03-15 02:43] DivinaBurger commented on #11
im creating editor for javascript..i want to use js-evaluator to validate user js code and to
show errors (ex: [INFO:CONSOLE(1)] "Uncaught ReferenceError: yourFunc is not defined").my problem is this kind of error is only showing in logcat..i need this error to show to user

[2017-03-15 02:47] evgenyneu commented on #11
Oh I see, did you try using the `onError` method?

[code]

Please note that it will not show all types of errors. For example, if JavaScript is not correctly formed (missing a "}" bracket, for example), the error may not be reported with the `onError` function.

[2017-03-16 15:28] lll000111 opened #37 "Documentation: AndroidJSCore is deprecated"
The README.md of the AndroidJSCore project you link to in your README.md says development has stopped and the project has been superseded by LiquidCore:

https://github.com/LiquidPlayer/LiquidCore

Instructions for "LiquidCore as a Native Javascript Engine":
https://github.com/LiquidPlayer/LiquidCore/wiki/LiquidCore-as-a-Native-Javascript-Engine

[2017-03-22 08:41] evgenyneu commented on #37
Thanks for the information, @lll000111

[2017-03-22 09:52] #35 closed

[2017-06-09 03:45] mdtuyen opened #38 "Get response from blob"
I want to get response from blob: `blob:http://m.xemtvhd.com/f09ac106-c8ec-4e3b-8a3f-953d052f6697`

So that I write js:
[code]

How to I use this library to get value of `myBlob` variable ?

[2017-06-09 05:01] evgenyneu commented on #38
Hi, as far as I know, this library does not allow sending HTTP requests from JavaScript. Your code is sending HTTP request and returns the response. If that's all it does, then I think it would be easier to accomplish this from Java. :)

[2017-07-14 04:50] evgenyneu commented on #38
Closing the issue. Feel free to reopen if needed.

[2017-07-14 04:50] #38 closed

[2017-07-14 04:50] evgenyneu commented on #37
Closing the issue. Feel free to reopen if needed.

[2017-07-14 04:50] #37 closed

[2017-07-14 04:51] evgenyneu commented on #36
Closing the issue. Feel free to reopen if needed.

[2017-07-14 04:51] #36 closed

[2017-07-14 04:51] evgenyneu commented on #34
Closing the issue. Feel free to reopen if needed.

[2017-07-14 04:51] #34 closed

[2017-07-14 04:51] evgenyneu commented on #32
Closing the issue. Feel free to reopen if needed.

[2017-07-14 04:51] #32 closed

[2017-07-14 04:51] evgenyneu commented on #33
Closing the issue. Feel free to reopen if needed.

[2017-07-14 04:51] #33 closed

[2017-07-14 04:51] evgenyneu commented on #25
Closing the issue. Feel free to reopen if needed.

[2017-07-14 04:51] #25 closed

[2017-07-14 04:53] evgenyneu commented on #11
Closing the issue. Feel free to reopen if needed.

[2017-07-14 04:53] #11 closed

[2017-08-11 14:53] clydzik opened #39 "JsEvaluator mResultCallback is growing and do not realease previous callbacks"
i realized that this list is holding results callbacks (probably for matching request/response interface) but as self is not maintained after finish (success or failure)
com.evgenii.jsevaluator.JsEvaluator#mResultCallbacks

the workaround is to use
jsEvaluator.getResultCallbacks().remove(<any>);

but this is not documented and a bit awkward

[2017-08-11 21:22] evgenyneu commented on #39
That's a very good point! I will look at this. Pull request is welcome as well. 👍

[2017-08-12 10:31] clydzik commented on #39
Yep most cases listeners are small so this make not much harm. But with inner classes can produce bigger leaks. Any way good to hear. I m taking some vacations now... Will follow from September on this. Will contribute than if still valid. Thanks.

[2017-08-12 21:18] evgenyneu commented on #39
That's good to know, thanks.

[2017-09-05 08:56] clydzik commented on #39
i provided some proposal for change. please letm me know what you think.

[2017-09-05 10:03] evgenyneu commented on #39
Thank you! I will have a look.

[2017-09-09 20:13] evgenyneu commented on #39
Thanks @clydzik for fixing the issue.

[2017-09-09 20:13] #39 closed

[2017-09-11 19:39] clydzik commented on #39
np. @evgenyneu thanks for the library!

[2017-10-16 07:25] clydzik opened #41 "subsequent registered of evaluation is not executed"
If i request
com.evgenii.jsevaluator.JsEvaluator#evaluate(java.lang.String, com.evgenii.jsevaluator.interfaces.JsCallback)

few times in short time distance (when previous is not evaluated) the previously scheduled evaluation is not delivered as success or failure

probably reason:
loadUrl method of webView is cancelling previously page that is opening
in:
com.evgenii.jsevaluator.WebViewWrapper#lo

[2017-10-16 08:11] evgenyneu commented on #41
Hi @clydzik, thanks for reporting this. You are absolutely right. Unfortunately, this is an issue. When we call the `evaluate` method, the JavaScript is sent to the web view for evaluation and it is done asynchronously. If we call the evaluate method again, the new JavaScript text is loaded into the same web view object since there is only one web view per evaluator. As a result, the previous eval

[2017-10-16 08:39] clydzik commented on #41
ok. when fixing previous 'listeners' i assumed it is working. Sorry for that.
Now i'm using this more heavily so i noticed the issue.
Now i see two directions.
-make it one request by purpose and drop responsibility to 'library user'. shortly cancel any actually evaluations or do not allow new if existing is pending
-add a queue and handle it in lib.

what you suggest ?

[2017-10-16 09:58] evgenyneu commented on #41
Good suggestion, as a library maintainer I am biased, since I would prefer a solution that adds the minimal amount of code. :) This is the solution to "drop responsibility to 'library user'". Which is how it works currently.

[2017-11-13 11:04] clydzik commented on #41
hi.
sorry for late reply.
I understand Your point of view. I still believe this can be done pretty simple with a queue run on evaluate call vs /success/failure calls.

I will try to make a wip PR. Just do not know when.
At this point will keep separate instances for my use cases.

So as You wrote. Actually library user is responsible for multiple parallel requests handling

[2017-11-13 20:32] evgenyneu commented on #41
Thanks for your suggestion, but I would be prefer to keep the library code simple (keep as it is). Maybe it's worth adding a note to the readme about it: "the previous JavaScript evaluation is discarded if it is not finished by the time the new evaluation is requested".

[2017-11-14 08:34] clydzik commented on #41
ok. i got Your point.
Actualy the leak issue i solved will still occur when you du a second call before first go back.
So maybe the interface should be cleared to fail fast or drop the list (previous), map (current) implementation that holds callbacks.

simply one callback that is overwritten when second call occur. To clean the interface.

[2017-11-14 20:48] evgenyneu commented on #41
Oh good point. Maybe instead of storing array of callbacks, just have a single instance variable to a callback. This way, when new evaluation is requested it overwrites the previous callback. This will make the code simpler and get rid of the leaks automatically.  Is it what you were suggesting?

[2017-11-15 09:12] clydzik commented on #41
Yes. Exactly i had this in mind.
So i think THIS issue could be closed. Since it is 'work as designed' - lets say.
The cleanup. Since i started the 'leak stuff' i may push it forward. From the other hand can leave it to You.
Let me know.

Thanks

[2017-11-15 21:55] evgenyneu commented on #41
Yes, feel free to submit the pull request for the leak issue. Thanks.

[2017-12-06 08:56] clydzik commented on #41
hello.
sorry for late response.
I could not reopen old issue.
So continue here
the PR:
https://github.com/evgenyneu/js-evaluator-for-android/pull/42

let me know what You think

[2017-12-11 07:49] clydzik commented on #41
cool. so i'm closing this as 'work as expected' queue should be implemented on 'client' side

[2017-12-11 07:49] #41 closed

[2017-12-11 23:13] evgenyneu commented on #41
Thanks for your contributions!

[2018-01-05 10:16] ginogonzales opened #43 "Null value in android nougat."
Hi, I've tested the code in lollipop and kitkat and it works fine, but why won't it work in android nougat?

Thank you.

[2018-01-05 22:32] evgenyneu commented on #43
Hi @ginogonzales, thanks for reporting. I've just run the demo app and the tests in API 24 and everything worked fine. I have not tested API 25, which one are you using?

[2018-01-06 06:58] ginogonzales commented on #43
I'm using API 24, I've added it to my project from maven repository in android studio. I've also tested it in Marshmallow and it also worked fine but I always get  a null value when I use it in Nougat. Am I missing something from setting it up? Thank you.

[2018-01-06 08:42] evgenyneu commented on #43
Am I missing something from setting it up?

The setup is the same for any android version, this should not be the issue. I've created a new demo app and it worked in API 24 emulator. Please find attached.

[JsEvaluatorDemo42.zip](https://github.com/evgenyneu/js-evaluator-for-android/files/1608609/JsEvaluatorDemo42.zip)

Maybe the problem is in the JavaScript that you are evaluating?

[2018-01-06 13:00] ginogonzales commented on #43
Okay I will double check my code to see what's wrong. Thank you.

[2018-02-10 15:42] monzavimm opened #44 "sync way"
hi and good job
thanks for library but i need it to work synchronize
is it possible to get me?
thanks.

[2018-02-10 21:30] evgenyneu commented on #44
Hi @monzavimm, thanks for the question. I do not understand what you need, unfortunately. Can you rephrase it?

[2018-02-11 21:39] monzavimm commented on #44
sorry for my bad english
i want to evaluate JS code , synchronize ,
but , based on your example , i have to evaluate js ,  and get result in callback.....

in other hand i need this
Object rs = jsEvaluator.evaluate("2 * 17");
.....
------------------------------------------------------> rs = 34
I hope you understand me
thanks for your response

[2018-02-11 22:51] evgenyneu commented on #44
Got it, thanks! Please have a look at [this discussion](https://github.com/evgenyneu/js-evaluator-for-android/issues/7).

[2018-02-12 10:55] monzavimm commented on #44
hi evgenyneu,
i read this and i think ,  i can not use in my android application
CountDownLatch , MutableObject , thread.sleep .... this is not i want

however thanks for response and your attention

i check your library , and it has better speed more than rhino , good job.

[2018-03-01 15:31] JayakarVangeti opened #45 "Do you have anything equalent to iOS or Swift or Objective-c?"
I am looking for a iOS equivalent of your code. can you suggest any of your work or other third parties.
@evgenyneu @codebymikey  @sittingbool

[2018-03-01 19:15] evgenyneu commented on #45
Hi @JayakarVangeti, you can look at the builtin JavaScriptCore library on iOS: https://stackoverflow.com/a/37435316/297131

[2018-03-02 08:14] JayakarVangeti commented on #45
@evgenyneu Hey how come this code be translated to code in the link you have given.

[code]

Here the above code deciphers the function code, I've Tried the iOS code you have given it just simply reading the strings out. I need the deciphered strings, can you help me out here. Please.

[2018-06-07 10:09] Vigneshwaran1999 commented on #11
hi
input:
function hello(){ var CryptoJS = require("crypto-js"); var encrypted ='hello'; return encrypted; } hello();
error:
require is not defined

[2018-06-07 11:04] evgenyneu commented on #11
Hi @Vigneshwaran1999, as far as I know the `require` keyword is not part of JavaScript.

[2018-06-08 05:17] Vigneshwaran1999 commented on #11
hi @evgenyneu

error:
ReferenceError: CryptoJS is not defined

Please help

[2018-06-08 05:40] evgenyneu commented on #11
@Vigneshwaran1999, the could be some problem with your JavaScript code. I would suggest to ask on stackoverflow.

[2018-06-15 14:41] nouhcc commented on #7
thanks a lot @tom91136

[2018-08-16 05:39] usmanhashmi2123 opened #46 "If .Js function return result as a array then how to get it?"
onResult(String result) is only available function to get result.
how can i get Array or int .etc?

[2018-08-16 12:02] evgenyneu commented on #46
Hi @usmanhashmi2123, I'm not 100% certain, but I think the function's return value is converted to string and then passed to `onResult`. There is no ability to get integer or array results at the moment.

[2018-11-12 13:16] Allan-an opened #47 "To javascript function which is in another .js file without usage of webview in android"
In below example , i want to call a function which is in another .js file instead of declaring the whole function body inside callFunction method.

jsEvaluator.callFunction("function myFunction(a, b, c, a) { return 'result'; }",
  new JsCallback() {

  @Override
  public void onResult(String result) {
    // Process result here.
    // This method is called in the UI thread.
  }

  @Override
  pub

[2018-11-12 23:04] evgenyneu commented on #47
Thanks for the question @Allan-an. You need to supply the code for the `eat()` function as the first parameter of the `callFunction`. If the function is in a `abc.js` file, you can read the file to a string and then use this string as the parameter to `callFunction`.

[2019-01-12 16:35] BennyKok opened #48 "Is callFunction working with async function in js?"
I am trying to pass data to javascript and return the value using `return await sth` in that async function. But I am getting the `undefined` value

for the context, I am using a chatbot library

[code]

the result in the `JsCallback` returned `undefined`

[2019-01-12 22:10] evgenyneu commented on #48
Good question, I don't know. Does `onError` return an error message? The async is a [relatively new](https://caniuse.com/#feat=async-functions) feature in JavaScript, so it may not be supported by older versions of Android.

[2019-01-13 06:55] BennyKok commented on #48
Hey man, @evgenyneu I got it working by adding a custom JS interface to the `webview` in the `webviewwrapper` and callback from my javascript to return the custom value.

[2019-03-02 01:18] kodlayanzi opened #49 "do it async value"
I tried **87234** times to return value with **CountDownLatch** but i cant. please update the source, make it **async** and **returnable** script.

**CountDownLatch** and others not working with **javascript handler in your project sources**. you should add the handler to return values. i dont wanna use the **webView.evaluateJavascript()**

[2019-03-02 03:38] kodlayanzi commented on #49
@evgenyneu any suggestions?

[2019-04-21 22:18] crvenizg opened #50 "where to find functions ?"
Hi.
Love the plugin, but where can i find which mat functions can i use ?
I used Math.sqrt() and it works bc i tried from someones video tutorial and want too see whic other fuctions work and possibly add some.

[2019-04-21 23:57] evgenyneu commented on #50
You can find it at any online reference on JavaScript, like [this one](https://www.w3schools.com/js/js_math.asp).

[2019-04-22 07:38] crvenizg commented on #50
Weird, on given link there are only few (like 15) formulas, nothing more.
One last thing, where can i write my own formulas and use them ? (sorry i am still new to this)

[2019-04-22 07:51] evgenyneu commented on #50
You can write your own function in JavaScript and then [call it](https://github.com/evgenyneu/js-evaluator-for-android#call-a-javascript-function) from Java in your Android app. If you want to learn JavaScript programming language there are plenty of books and online resources. JavaScript is very popular, there is no shortage of learning material about it.

[2019-04-22 07:55] crvenizg commented on #50
Kul, thank u.

[2019-04-22 07:55] #50 closed

[2019-07-23 12:24] 0xCTF opened #51 "Get a screenshot fo an element in webview"
Hi,
Is it possible to get a screenshot of an element which is a captcha from a webview in android ?

if yes, how can i do that please

Thanks

[2019-07-23 12:35] 0xCTF commented on #51
there html2canvas js library, but i don't know how to use it,
i spend many days looking for that without success
The captcha outerhtml from the website is

`<img src="/ORegMx/capito.png" alt="capito">
`
Hope someone can help !

[2019-07-23 23:13] evgenyneu commented on #51
@0xCTF, I think you might get help if you ask this question on stackoverflow.com. :)

[2019-07-23 23:53] 0xCTF commented on #51
@evgenyneu thank you for your reply,

i asked this question in many ways more than 10 times without answer,
https://stackoverflow.com/questions/57032155/is-theres-a-way-to-get-a-screenshot-of-a-captcha-in-webview
https://stackoverflow.com/questions/57029398/how-to-use-html2canvas-in-android-in-order-to-take-a-screenshot-of-an-element-in
https://stackoverflow.com/questions/56820583/how-i-can-get-an

[2019-07-23 23:57] evgenyneu commented on #51
Oh sorry, you have already asked on SO. Yeah, it's a very interesting question, but I have no idea. :)

[2019-07-24 00:12] 0xCTF commented on #51
no problem, thank you

[2019-07-24 14:50] 0xCTF opened #52 "Null return value using external js library"
Hi,
I'm trying to get a screenshot for an element in webview which is a captcha in android

i'm using this code, in onPageFinished

[code]

[code]

[code]

But the value returned is null, it suppose to get data:image/png;base64,...
How can i fix that ?
this is the website loaded in the webview
https://www4.inscription.tn/ORegMx/servlet/AuthentificationEtud?ident=cin

Hope someone can help to get a

[2019-07-25 01:28] evgenyneu commented on #52
@0xCTF thanks for reporting. I can see that you are accessing a web view directly. I think this issue page is not a good place to discuss the usage of a web view, since it's dedicated with issues related to this library.

[2019-07-25 05:50] 0xCTF commented on #52
Alright, sorry for that

[2019-07-25 05:50] #52 closed

[2020-09-25 20:26] dimasta68 opened #53 "how do I apply a script to my own webview ?"
thank you in advance

[2020-09-27 19:54] evgenyneu commented on #53
Hi @dimasta68, can you elaborate please? :)

[2020-09-28 06:35] dimasta68 commented on #53
this question is how to apply java script by link to webview https://dl.dropboxusercontent.com/s/lmibwymtkebspij/background.js after the page is fully loaded the background should turn green here is a sample code for loading the page

 webView = findViewById(R.id.Web);
webView.getSettings().setJavaScriptEnabled(true);
webView.setWebChromeClient(new MyWebChromeClient());

I got the string from the

[2020-09-28 06:46] evgenyneu commented on #53
I see, did you try [evaluateJavascript](https://developer.android.com/reference/android/webkit/WebView#evaluateJavascript(java.lang.String,%20android.webkit.ValueCallback%3Cjava.lang.String%3E)) method?

Another complication is that your JavaScript code is loading and executing another JavaScript from Internet (from the jquery.min.js file). This might not be allowed for security reason, so this co

[2020-09-28 13:01] dimasta68 commented on #53
you can write a sample code for webview

[2020-09-28 14:42] dimasta68 commented on #53
help me please

[2020-09-28 22:50] evgenyneu commented on #53
@dimasta68 I'm sorry this is not a good place to do this. Here people report issues with the library. So I would suggest to ask on stackoverflow.

[2020-10-01 14:04] dimasta68 commented on #53
thanks already figured out, here is the answer
https://ru.stackoverflow.com/questions/1180892/android-studio-webview-%d0%bf%d1%80%d0%b8%d0%bc%d0%b5%d0%bd%d0%b8%d1%82%d1%8c-javascript-%d0%bf%d0%be-%d1%81%d1%81%d1%8b%d0%bb%d0%ba%d0%b5/1184824#1184824

[2021-05-18 02:29] Yuhanlolo opened #55 "Can I incorporate an npm package using js-evaluator?"
Can I incorporate an npm package using js-evaluator? If yes, how should I do that?

[2021-05-18 04:56] evgenyneu commented on #55
Hi @Yuhanlolo, you will need to manually download the package, load its JavaScript code into a string variable. Then you can evaluate this code with this library.

[2021-05-18 14:10] Yuhanlolo commented on #55
@evgenyneu Thanks! Does that mean I should pack all the js code into a single string, as most of the npm packages have multiple files and functions, should I manually put them all together?

[2021-05-18 22:05] evgenyneu commented on #55
Yes

[2021-09-04 12:10] HiddenPirates opened #57 "Providing wrong result"
When I am dividing 13717421/36 then it is providing 381039 instead of 381039.47222. it is also very slow

[2021-09-04 15:16] evgenyneu commented on #57
Thanks for reporting the bug. Can you share the exact JavaScript code that you use?

[2021-12-06 20:40] bilalilyas90 commented on #48
Hii
Kindly can you share any example how you solved your problem?

[2021-12-07 03:01] BennyKok commented on #48
@bilalilyas90 Hey, I have the project that I was originally working on GitHub, I basically injected custom js scripts to the web view to interact with the other js scripts and then call back the result via the interface

Interface
https://github.com/BennyKok/River/blob/14833add1fddf50a81f8f544c5c418e63e5b9f14/app/src/main/java/com/bennyv17/river/callback/JsrsInterface.kt

Setting interface
https:/

[2021-12-07 13:08] bilalilyas90 commented on #48
@BennyKok
Thank you very much for your help ... it helped me a lot.
One more question if you can help me in this too ...
I want to pass file to javascript method parameter as file but I cannot find a solution how to pass it to a method param just like we pass strings, integers etc in callFunction method last parameter .. Please can you help me in this also?

this is a sample function in javascript

[2021-12-07 15:48] BennyKok commented on #48
@bilalilyas90 I am not sure if passing a file to the js side will work easily, since I'm not sure if the js runtime in the webview has fs access? What about you reading the file data and passing them as a string/byte etc to the js side?

[2021-12-08 14:07] bilalilyas90 commented on #48
@BennyKok
Yes I have tried to convert image to base64 and trying to implement it on js side but one issue I have faced here is that if file size is greater than it gives error when passing too long string to the method ... also one main issue now I am facing is a method giving undefined value for crypto ....

`var passphrasekey=await window.crypto.subtle.importKey('raw', passphrasebytes, {name: 'P

[2021-12-08 14:10] BennyKok commented on #48
@bilalilyas90 from the error, seems like window.crypto.subtle is null

[2021-12-08 14:14] bilalilyas90 commented on #48
@BennyKok
yes this is correct .. and question is this that why is it giving null as it works fine in browsers but here when using js evaluator which uses webview to execute our js code here it couldn't run and give null value ... so how can I solve this issue here ?

[2021-12-08 14:15] bilalilyas90 commented on #48
@BennyKok Any suggesstion how I can make it work here?

[2021-12-08 14:17] BennyKok commented on #48
Im not really sure, it could be that window.crypto.subtle is not support in the webview?

[2021-12-08 14:48] bilalilyas90 commented on #48
I think its because of secure contexts in browsers ... I think as we are using local files it doesn't have ssl which causes this issue ... do you have any idea how we can forcefully enable secure contexts in webview so we can run our local scripts as https?

[2022-02-26 10:18] theduskin opened #58 "request"
please tell me someone has already used this Lib for a App that can handle this pseudo code:
`var a1=numberfield(namestring, digits);
var a2=numberfield(namestring, digits);
var b=numberfield(namestring, digits);
var result=textfield(whatever);
function calc(){
if(a2>0)return (a1+a2)/2+b;
else return something;
}`
well, not exacly that code.
i know this is not the right place, please be gracious t